In [1]:
import pandas as pd
import numpy as np
from config import password
import pandas as pd
from bs4 import BeautifulSoup
from sqlalchemy import create_engine
import psycopg2

In [2]:
file = 'nba_payroll.csv'

In [3]:
payroll_df = pd.read_csv(file, encoding="UTF-8")

In [4]:
payroll_df.head()

,Rk,Team,2019-20,2020-21,2021-22,2022-23,2023-24,2024-25
0,1.0,Portland Trail Blazers,"$138,765,934","$109,958,442","$95,713,685","$87,599,310","$89,396,898","$54,250,000"
1,2.0,Milwaukee Bucks,"$135,025,925","$132,270,360","$86,685,346","$71,230,252","$40,396,552",NaN
2,3.0,Miami Heat,"$134,341,791","$82,443,429","$63,800,306","$43,375,416",NaN,NaN
3,4.0,Oklahoma City Thunder,"$133,664,718","$105,489,351","$55,738,605","$7,194,510",NaN,NaN
4,5.0,Los Angeles Clippers,"$133,474,030","$113,852,099","$108,847,187","$13,372,683",NaN,NaN

In [5]:
mapping = {payroll_df.columns[0]:'Rank', payroll_df.columns[1]: 'Team', payroll_df.columns[2]:'2019-20 Payroll'}

payroll_df = payroll_df.rename(columns=mapping)

payroll_df

,Rank,Team,2019-20 Payroll,2020-21,2021-22,2022-23,2023-24,2024-25
0,1.0,Portland Trail Blazers,"$138,765,934","$109,958,442","$95,713,685","$87,599,310","$89,396,898","$54,250,000"
1,2.0,Milwaukee Bucks,"$135,025,925","$132,270,360","$86,685,346","$71,230,252","$40,396,552",NaN
2,3.0,Miami Heat,"$134,341,791","$82,443,429","$63,800,306","$43,375,416",NaN,NaN
3,4.0,Oklahoma City Thunder,"$133,664,718","$105,489,351","$55,738,605","$7,194,510",NaN,NaN
4,5.0,Los Angeles Clippers,"$133,474,030","$113,852,099","$108,847,187","$13,372,683",NaN,NaN
5,6.0,Orlando Magic,"$133,220,515","$122,286,739","$76,234,967","$33,500,000",NaN,NaN
6,7.0,Minnesota Timberwolves,"$132,512,645","$96,033,518","$86,842,098","$77,138,175","$35,970,000",NaN
7,8.0,Golden State Warriors,"$131,527,930","$148,884,768","$158,865,097","$105,855,399","$70,805,665",NaN
8,9.0,Denver Nuggets,"$130,763,093","$107,995,708","$104,503,922","$66,408,837","$36,270,000","$38,610,000"
9,10.0,Washington Wizards,"$130,655,276","$101,202,411","$108,184,168","$90,397,488",NaN,NaN
10,11.0,Detroit Pistons,"$130,445,720","$70,172,303","$42,570,708","$5,539,771",NaN,NaN
11,12.0,Cleveland Cavaliers,"$130,325,319","$109,213,529","$71,168,426","$64,891,181","$6,650,000",NaN
12,13.0,Philadelphia 76ers,"$130,273,147","$147,066,848","$147,372,144","$138,906,774","$77,235,517","$38,610,000"
13,14.0,Houston Rockets,"$129,372,022","$130,481,438","$124,689,651","$113,225,101","$20,917,902",NaN
14,15.0,Memphis Grizzlies,"$128,593,098","$113,107,635","$82,224,845","$27,863,360",NaN,NaN
15,16.0,Brooklyn Nets,"$127,379,136","$142,051,521","$137,833,133","$107,900,288",NaN,NaN
16,17.0,Los Angeles Lakers,"$125,109,724","$119,476,054","$45,992,273",NaN,NaN,NaN
17,18.0,Charlotte Hornets,"$124,399,147","$80,967,575","$32,889,739","$7,739,116",NaN,NaN
18,19.0,San Antonio Spurs,"$123,174,560","$117,923,795","$26,233,394","$25,001,437","$17,714,286",NaN
19,20.0,Toronto Raptors,"$123,108,207","$86,093,110","$46,500,570","$33,640,000","$35,960,000",NaN
20,21.0,Utah Jazz,"$121,899,425","$117,859,175","$44,943,813","$28,871,429","$9,964,286",NaN
21,22.0,Dallas Mavericks,"$121,867,856","$108,221,166","$84,089,411","$63,206,355","$36,016,200",NaN
22,23.0,Boston Celtics,"$121,225,607","$140,567,010","$87,145,456","$76,287,019","$28,601,786",NaN
23,24.0,Phoenix Suns,"$120,896,498","$91,731,595","$78,044,717","$45,828,637","$35,970,000",NaN
24,25.0,Sacramento Kings,"$117,390,118","$96,484,325","$68,456,099","$38,875,000","$18,568,182",NaN
25,26.0,New Orleans Pelicans,"$117,325,921","$83,201,113","$46,363,160","$25,347,462",NaN,NaN
26,27.0,Indiana Pacers,"$114,708,526","$124,006,218","$93,096,851","$65,302,839","$21,312,500",NaN
27,28.0,Chicago Bulls,"$114,665,634","$106,082,586","$65,249,867","$9,344,636",NaN,NaN
28,29.0,Atlanta Hawks,"$114,377,720","$59,403,929","$58,684,820","$35,377,292",NaN,NaN
29,30.0,New York Knicks,"$109,714,940","$99,632,325","$44,286,242","$10,900,635",NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
payroll_df = payroll_df.drop(['Rank'], axis=1)
payroll_df

,Team,2019-20 Payroll,2020-21,2021-22,2022-23,2023-24,2024-25
0,Portland Trail Blazers,"$138,765,934","$109,958,442","$95,713,685","$87,599,310","$89,396,898","$54,250,000"
1,Milwaukee Bucks,"$135,025,925","$132,270,360","$86,685,346","$71,230,252","$40,396,552",NaN
2,Miami Heat,"$134,341,791","$82,443,429","$63,800,306","$43,375,416",NaN,NaN
3,Oklahoma City Thunder,"$133,664,718","$105,489,351","$55,738,605","$7,194,510",NaN,NaN
4,Los Angeles Clippers,"$133,474,030","$113,852,099","$108,847,187","$13,372,683",NaN,NaN
5,Orlando Magic,"$133,220,515","$122,286,739","$76,234,967","$33,500,000",NaN,NaN
6,Minnesota Timberwolves,"$132,512,645","$96,033,518","$86,842,098","$77,138,175","$35,970,000",NaN
7,Golden State Warriors,"$131,527,930","$148,884,768","$158,865,097","$105,855,399","$70,805,665",NaN
8,Denver Nuggets,"$130,763,093","$107,995,708","$104,503,922","$66,408,837","$36,270,000","$38,610,000"
9,Washington Wizards,"$130,655,276","$101,202,411","$108,184,168","$90,397,488",NaN,NaN
10,Detroit Pistons,"$130,445,720","$70,172,303","$42,570,708","$5,539,771",NaN,NaN
11,Cleveland Cavaliers,"$130,325,319","$109,213,529","$71,168,426","$64,891,181","$6,650,000",NaN
12,Philadelphia 76ers,"$130,273,147","$147,066,848","$147,372,144","$138,906,774","$77,235,517","$38,610,000"
13,Houston Rockets,"$129,372,022","$130,481,438","$124,689,651","$113,225,101","$20,917,902",NaN
14,Memphis Grizzlies,"$128,593,098","$113,107,635","$82,224,845","$27,863,360",NaN,NaN
15,Brooklyn Nets,"$127,379,136","$142,051,521","$137,833,133","$107,900,288",NaN,NaN
16,Los Angeles Lakers,"$125,109,724","$119,476,054","$45,992,273",NaN,NaN,NaN
17,Charlotte Hornets,"$124,399,147","$80,967,575","$32,889,739","$7,739,116",NaN,NaN
18,San Antonio Spurs,"$123,174,560","$117,923,795","$26,233,394","$25,001,437","$17,714,286",NaN
19,Toronto Raptors,"$123,108,207","$86,093,110","$46,500,570","$33,640,000","$35,960,000",NaN
20,Utah Jazz,"$121,899,425","$117,859,175","$44,943,813","$28,871,429","$9,964,286",NaN
21,Dallas Mavericks,"$121,867,856","$108,221,166","$84,089,411","$63,206,355","$36,016,200",NaN
22,Boston Celtics,"$121,225,607","$140,567,010","$87,145,456","$76,287,019","$28,601,786",NaN
23,Phoenix Suns,"$120,896,498","$91,731,595","$78,044,717","$45,828,637","$35,970,000",NaN
24,Sacramento Kings,"$117,390,118","$96,484,325","$68,456,099","$38,875,000","$18,568,182",NaN
25,New Orleans Pelicans,"$117,325,921","$83,201,113","$46,363,160","$25,347,462",NaN,NaN
26,Indiana Pacers,"$114,708,526","$124,006,218","$93,096,851","$65,302,839","$21,312,500",NaN
27,Chicago Bulls,"$114,665,634","$106,082,586","$65,249,867","$9,344,636",NaN,NaN
28,Atlanta Hawks,"$114,377,720","$59,403,929","$58,684,820","$35,377,292",NaN,NaN
29,New York Knicks,"$109,714,940","$99,632,325","$44,286,242","$10,900,635",NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Sort by ascending team name
payroll_df = payroll_df.sort_values('Team')
payroll_df

,Team,2019-20 Payroll,2020-21,2021-22,2022-23,2023-24,2024-25
28,Atlanta Hawks,"$114,377,720","$59,403,929","$58,684,820","$35,377,292",NaN,NaN
22,Boston Celtics,"$121,225,607","$140,567,010","$87,145,456","$76,287,019","$28,601,786",NaN
15,Brooklyn Nets,"$127,379,136","$142,051,521","$137,833,133","$107,900,288",NaN,NaN
17,Charlotte Hornets,"$124,399,147","$80,967,575","$32,889,739","$7,739,116",NaN,NaN
27,Chicago Bulls,"$114,665,634","$106,082,586","$65,249,867","$9,344,636",NaN,NaN
11,Cleveland Cavaliers,"$130,325,319","$109,213,529","$71,168,426","$64,891,181","$6,650,000",NaN
21,Dallas Mavericks,"$121,867,856","$108,221,166","$84,089,411","$63,206,355","$36,016,200",NaN
8,Denver Nuggets,"$130,763,093","$107,995,708","$104,503,922","$66,408,837","$36,270,000","$38,610,000"
10,Detroit Pistons,"$130,445,720","$70,172,303","$42,570,708","$5,539,771",NaN,NaN
7,Golden State Warriors,"$131,527,930","$148,884,768","$158,865,097","$105,855,399","$70,805,665",NaN
13,Houston Rockets,"$129,372,022","$130,481,438","$124,689,651","$113,225,101","$20,917,902",NaN
26,Indiana Pacers,"$114,708,526","$124,006,218","$93,096,851","$65,302,839","$21,312,500",NaN
4,Los Angeles Clippers,"$133,474,030","$113,852,099","$108,847,187","$13,372,683",NaN,NaN
16,Los Angeles Lakers,"$125,109,724","$119,476,054","$45,992,273",NaN,NaN,NaN
14,Memphis Grizzlies,"$128,593,098","$113,107,635","$82,224,845","$27,863,360",NaN,NaN
2,Miami Heat,"$134,341,791","$82,443,429","$63,800,306","$43,375,416",NaN,NaN
1,Milwaukee Bucks,"$135,025,925","$132,270,360","$86,685,346","$71,230,252","$40,396,552",NaN
6,Minnesota Timberwolves,"$132,512,645","$96,033,518","$86,842,098","$77,138,175","$35,970,000",NaN
25,New Orleans Pelicans,"$117,325,921","$83,201,113","$46,363,160","$25,347,462",NaN,NaN
29,New York Knicks,"$109,714,940","$99,632,325","$44,286,242","$10,900,635",NaN,NaN
3,Oklahoma City Thunder,"$133,664,718","$105,489,351","$55,738,605","$7,194,510",NaN,NaN
5,Orlando Magic,"$133,220,515","$122,286,739","$76,234,967","$33,500,000",NaN,NaN
12,Philadelphia 76ers,"$130,273,147","$147,066,848","$147,372,144","$138,906,774","$77,235,517","$38,610,000"
23,Phoenix Suns,"$120,896,498","$91,731,595","$78,044,717","$45,828,637","$35,970,000",NaN
0,Portland Trail Blazers,"$138,765,934","$109,958,442","$95,713,685","$87,599,310","$89,396,898","$54,250,000"
24,Sacramento Kings,"$117,390,118","$96,484,325","$68,456,099","$38,875,000","$18,568,182",NaN
18,San Antonio Spurs,"$123,174,560","$117,923,795","$26,233,394","$25,001,437","$17,714,286",NaN
19,Toronto Raptors,"$123,108,207","$86,093,110","$46,500,570","$33,640,000","$35,960,000",NaN
20,Utah Jazz,"$121,899,425","$117,859,175","$44,943,813","$28,871,429","$9,964,286",NaN
9,Washington Wizards,"$130,655,276","$101,202,411","$108,184,168","$90,397,488",NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
payroll_df = payroll_df.reset_index(drop=True)
payroll_df

,Team,2019-20 Payroll,2020-21,2021-22,2022-23,2023-24,2024-25
0,Atlanta Hawks,"$114,377,720","$59,403,929","$58,684,820","$35,377,292",NaN,NaN
1,Boston Celtics,"$121,225,607","$140,567,010","$87,145,456","$76,287,019","$28,601,786",NaN
2,Brooklyn Nets,"$127,379,136","$142,051,521","$137,833,133","$107,900,288",NaN,NaN
3,Charlotte Hornets,"$124,399,147","$80,967,575","$32,889,739","$7,739,116",NaN,NaN
4,Chicago Bulls,"$114,665,634","$106,082,586","$65,249,867","$9,344,636",NaN,NaN
5,Cleveland Cavaliers,"$130,325,319","$109,213,529","$71,168,426","$64,891,181","$6,650,000",NaN
6,Dallas Mavericks,"$121,867,856","$108,221,166","$84,089,411","$63,206,355","$36,016,200",NaN
7,Denver Nuggets,"$130,763,093","$107,995,708","$104,503,922","$66,408,837","$36,270,000","$38,610,000"
8,Detroit Pistons,"$130,445,720","$70,172,303","$42,570,708","$5,539,771",NaN,NaN
9,Golden State Warriors,"$131,527,930","$148,884,768","$158,865,097","$105,855,399","$70,805,665",NaN
10,Houston Rockets,"$129,372,022","$130,481,438","$124,689,651","$113,225,101","$20,917,902",NaN
11,Indiana Pacers,"$114,708,526","$124,006,218","$93,096,851","$65,302,839","$21,312,500",NaN
12,Los Angeles Clippers,"$133,474,030","$113,852,099","$108,847,187","$13,372,683",NaN,NaN
13,Los Angeles Lakers,"$125,109,724","$119,476,054","$45,992,273",NaN,NaN,NaN
14,Memphis Grizzlies,"$128,593,098","$113,107,635","$82,224,845","$27,863,360",NaN,NaN
15,Miami Heat,"$134,341,791","$82,443,429","$63,800,306","$43,375,416",NaN,NaN
16,Milwaukee Bucks,"$135,025,925","$132,270,360","$86,685,346","$71,230,252","$40,396,552",NaN
17,Minnesota Timberwolves,"$132,512,645","$96,033,518","$86,842,098","$77,138,175","$35,970,000",NaN
18,New Orleans Pelicans,"$117,325,921","$83,201,113","$46,363,160","$25,347,462",NaN,NaN
19,New York Knicks,"$109,714,940","$99,632,325","$44,286,242","$10,900,635",NaN,NaN
20,Oklahoma City Thunder,"$133,664,718","$105,489,351","$55,738,605","$7,194,510",NaN,NaN
21,Orlando Magic,"$133,220,515","$122,286,739","$76,234,967","$33,500,000",NaN,NaN
22,Philadelphia 76ers,"$130,273,147","$147,066,848","$147,372,144","$138,906,774","$77,235,517","$38,610,000"
23,Phoenix Suns,"$120,896,498","$91,731,595","$78,044,717","$45,828,637","$35,970,000",NaN
24,Portland Trail Blazers,"$138,765,934","$109,958,442","$95,713,685","$87,599,310","$89,396,898","$54,250,000"
25,Sacramento Kings,"$117,390,118","$96,484,325","$68,456,099","$38,875,000","$18,568,182",NaN
26,San Antonio Spurs,"$123,174,560","$117,923,795","$26,233,394","$25,001,437","$17,714,286",NaN
27,Toronto Raptors,"$123,108,207","$86,093,110","$46,500,570","$33,640,000","$35,960,000",NaN
28,Utah Jazz,"$121,899,425","$117,859,175","$44,943,813","$28,871,429","$9,964,286",NaN
29,Washington Wizards,"$130,655,276","$101,202,411","$108,184,168","$90,397,488",NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
payroll_df = payroll_df.drop(payroll_df.index[[30]])

payroll_df

,Team,2019-20 Payroll,2020-21,2021-22,2022-23,2023-24,2024-25
0,Atlanta Hawks,"$114,377,720","$59,403,929","$58,684,820","$35,377,292",NaN,NaN
1,Boston Celtics,"$121,225,607","$140,567,010","$87,145,456","$76,287,019","$28,601,786",NaN
2,Brooklyn Nets,"$127,379,136","$142,051,521","$137,833,133","$107,900,288",NaN,NaN
3,Charlotte Hornets,"$124,399,147","$80,967,575","$32,889,739","$7,739,116",NaN,NaN
4,Chicago Bulls,"$114,665,634","$106,082,586","$65,249,867","$9,344,636",NaN,NaN
5,Cleveland Cavaliers,"$130,325,319","$109,213,529","$71,168,426","$64,891,181","$6,650,000",NaN
6,Dallas Mavericks,"$121,867,856","$108,221,166","$84,089,411","$63,206,355","$36,016,200",NaN
7,Denver Nuggets,"$130,763,093","$107,995,708","$104,503,922","$66,408,837","$36,270,000","$38,610,000"
8,Detroit Pistons,"$130,445,720","$70,172,303","$42,570,708","$5,539,771",NaN,NaN
9,Golden State Warriors,"$131,527,930","$148,884,768","$158,865,097","$105,855,399","$70,805,665",NaN
10,Houston Rockets,"$129,372,022","$130,481,438","$124,689,651","$113,225,101","$20,917,902",NaN
11,Indiana Pacers,"$114,708,526","$124,006,218","$93,096,851","$65,302,839","$21,312,500",NaN
12,Los Angeles Clippers,"$133,474,030","$113,852,099","$108,847,187","$13,372,683",NaN,NaN
13,Los Angeles Lakers,"$125,109,724","$119,476,054","$45,992,273",NaN,NaN,NaN
14,Memphis Grizzlies,"$128,593,098","$113,107,635","$82,224,845","$27,863,360",NaN,NaN
15,Miami Heat,"$134,341,791","$82,443,429","$63,800,306","$43,375,416",NaN,NaN
16,Milwaukee Bucks,"$135,025,925","$132,270,360","$86,685,346","$71,230,252","$40,396,552",NaN
17,Minnesota Timberwolves,"$132,512,645","$96,033,518","$86,842,098","$77,138,175","$35,970,000",NaN
18,New Orleans Pelicans,"$117,325,921","$83,201,113","$46,363,160","$25,347,462",NaN,NaN
19,New York Knicks,"$109,714,940","$99,632,325","$44,286,242","$10,900,635",NaN,NaN
20,Oklahoma City Thunder,"$133,664,718","$105,489,351","$55,738,605","$7,194,510",NaN,NaN
21,Orlando Magic,"$133,220,515","$122,286,739","$76,234,967","$33,500,000",NaN,NaN
22,Philadelphia 76ers,"$130,273,147","$147,066,848","$147,372,144","$138,906,774","$77,235,517","$38,610,000"
23,Phoenix Suns,"$120,896,498","$91,731,595","$78,044,717","$45,828,637","$35,970,000",NaN
24,Portland Trail Blazers,"$138,765,934","$109,958,442","$95,713,685","$87,599,310","$89,396,898","$54,250,000"
25,Sacramento Kings,"$117,390,118","$96,484,325","$68,456,099","$38,875,000","$18,568,182",NaN
26,San Antonio Spurs,"$123,174,560","$117,923,795","$26,233,394","$25,001,437","$17,714,286",NaN
27,Toronto Raptors,"$123,108,207","$86,093,110","$46,500,570","$33,640,000","$35,960,000",NaN
28,Utah Jazz,"$121,899,425","$117,859,175","$44,943,813","$28,871,429","$9,964,286",NaN
29,Washington Wizards,"$130,655,276","$101,202,411","$108,184,168","$90,397,488",NaN,NaN

In [10]:
payroll_df = payroll_df.drop(columns=['2020-21', '2021-22', '2022-23', '2023-24', '2024-25'])

payroll_df

                      Team 2019-20 Payroll
0            Atlanta Hawks   $114,377,720
1           Boston Celtics   $121,225,607
2            Brooklyn Nets   $127,379,136
3        Charlotte Hornets   $124,399,147
4            Chicago Bulls   $114,665,634
5      Cleveland Cavaliers   $130,325,319
6         Dallas Mavericks   $121,867,856
7           Denver Nuggets   $130,763,093
8          Detroit Pistons   $130,445,720
9    Golden State Warriors   $131,527,930
10         Houston Rockets   $129,372,022
11          Indiana Pacers   $114,708,526
12    Los Angeles Clippers   $133,474,030
13      Los Angeles Lakers   $125,109,724
14       Memphis Grizzlies   $128,593,098
15              Miami Heat   $134,341,791
16         Milwaukee Bucks   $135,025,925
17  Minnesota Timberwolves   $132,512,645
18    New Orleans Pelicans   $117,325,921
19         New York Knicks   $109,714,940
20   Oklahoma City Thunder   $133,664,718
21           Orlando Magic   $133,220,515
22      Philadelphia 76ers   $130,273,147
23            Phoenix Suns   $120,896,498
24  Portland Trail Blazers   $138,765,934
25        Sacramento Kings   $117,390,118
26       San Antonio Spurs   $123,174,560
27         Toronto Raptors   $123,108,207
28               Utah Jazz   $121,899,425
29      Washington Wizards   $130,655,276

In [11]:
payroll_df['team_id'] = np.arange(len(payroll_df))

payroll_df

                      Team 2019-20 Payroll  team_id
0            Atlanta Hawks   $114,377,720         0
1           Boston Celtics   $121,225,607         1
2            Brooklyn Nets   $127,379,136         2
3        Charlotte Hornets   $124,399,147         3
4            Chicago Bulls   $114,665,634         4
5      Cleveland Cavaliers   $130,325,319         5
6         Dallas Mavericks   $121,867,856         6
7           Denver Nuggets   $130,763,093         7
8          Detroit Pistons   $130,445,720         8
9    Golden State Warriors   $131,527,930         9
10         Houston Rockets   $129,372,022        10
11          Indiana Pacers   $114,708,526        11
12    Los Angeles Clippers   $133,474,030        12
13      Los Angeles Lakers   $125,109,724        13
14       Memphis Grizzlies   $128,593,098        14
15              Miami Heat   $134,341,791        15
16         Milwaukee Bucks   $135,025,925        16
17  Minnesota Timberwolves   $132,512,645        17
18    New Orleans Pelicans   $117,325,921        18
19         New York Knicks   $109,714,940        19
20   Oklahoma City Thunder   $133,664,718        20
21           Orlando Magic   $133,220,515        21
22      Philadelphia 76ers   $130,273,147        22
23            Phoenix Suns   $120,896,498        23
24  Portland Trail Blazers   $138,765,934        24
25        Sacramento Kings   $117,390,118        25
26       San Antonio Spurs   $123,174,560        26
27         Toronto Raptors   $123,108,207        27
28               Utah Jazz   $121,899,425        28
29      Washington Wizards   $130,655,276        29

In [12]:
payroll_df = payroll_df.rename(columns={"Team": "team", "2019-20 Payroll": "payroll"})

payroll_df

                      team        payroll  team_id
0            Atlanta Hawks  $114,377,720         0
1           Boston Celtics  $121,225,607         1
2            Brooklyn Nets  $127,379,136         2
3        Charlotte Hornets  $124,399,147         3
4            Chicago Bulls  $114,665,634         4
5      Cleveland Cavaliers  $130,325,319         5
6         Dallas Mavericks  $121,867,856         6
7           Denver Nuggets  $130,763,093         7
8          Detroit Pistons  $130,445,720         8
9    Golden State Warriors  $131,527,930         9
10         Houston Rockets  $129,372,022        10
11          Indiana Pacers  $114,708,526        11
12    Los Angeles Clippers  $133,474,030        12
13      Los Angeles Lakers  $125,109,724        13
14       Memphis Grizzlies  $128,593,098        14
15              Miami Heat  $134,341,791        15
16         Milwaukee Bucks  $135,025,925        16
17  Minnesota Timberwolves  $132,512,645        17
18    New Orleans Pelicans  $117,325,921        18
19         New York Knicks  $109,714,940        19
20   Oklahoma City Thunder  $133,664,718        20
21           Orlando Magic  $133,220,515        21
22      Philadelphia 76ers  $130,273,147        22
23            Phoenix Suns  $120,896,498        23
24  Portland Trail Blazers  $138,765,934        24
25        Sacramento Kings  $117,390,118        25
26       San Antonio Spurs  $123,174,560        26
27         Toronto Raptors  $123,108,207        27
28               Utah Jazz  $121,899,425        28
29      Washington Wizards  $130,655,276        29

In [20]:
payroll_df['payroll'] = payroll_df['payroll'].str.replace(',', '')
payroll_df['payroll'] = payroll_df['payroll'].str.replace('$', '')

In [21]:
connection_string = f"postgres:{password}@localhost:5432/teamvalue_db"
engine = create_engine(f'postgresql://{connection_string}')

In [22]:
engine.table_names()

['avgattendance', 'payroll']

In [23]:
payroll_df.to_sql(name='payroll', con=engine, if_exists='append', index=False)